.words
  :javascript
    (function(){
      for (var i=0, iL=600; i < iL ; i++) {
      	var startCode = (""+Math.random()).substr(2);
      	document.write(String.fromCharCode("0x"+startCode));
      };      
    })();
  