!!!XML
!!!Strict

%html
  %head
    %title Sinatrandoms
    %meta{:"http-equiv" => "Content-Type", :content => "text/html", :charset => "utf-8" }
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    .wrapper
      %h1
        %a(href="https://www.googleapis.com/language/translate/v2?key=ABQIAAAAhKIZOUlmurh56mO4WjvEeBTFkrfr0pxv1wiJTuUrFvHPpSxyaxR1Fc0PJdRR_6BMv_zNHtoSAuzOMA&q=hello%20world&source=en&target=ja") Translate this?
      != yield
      
      .credit
        %a{:title => "milligramme.cc",:href => "http://www.milligramme.cc/" }2011 © milligramme