body
  :background-color #999
  :color #fff
  

  .wrapper
    :width 720px
    :margin 5px auto
    
    h1
      :color #369
    
    .words
      :background-color #777
      :font-size 18px
      :padding 2em
      -moz-border-radius: 2em
      -webkit-border-radius: 2em
      border-radius: 2em
      